<h1>Gamelobby#index</h1>
<p>Find me in app/views/gamelobby/index.html.erb</p>

<div>
  <h2>Choose an ongoing game:</h2>
    <table>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to "game number #{game.id}", game_path(game) %></td>
        </tr>
      <% end %>
    </table>
</div>
