  <% if @games.count != 0%>
  <h2>Choose an ongoing game:</h2>
    <table>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to "game number #{game.id}", game_path(game) %></td>
        </tr>
      <% end %>
    </table>
  <h2> Or:</h2>
  <%end%>

<div id="start-game">
  <%= link_to "Start Game", games_new_path %>
</div>
