<h1>Games#show</h1>

<div class="container-fluid game-page">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">GIF</div>
    <div class="col-md-6 col-md-offset-3">Instruction</div>
    <div class="clearfix visible-xs-block"></div>
  </div>

  <div class="row">
    <div class="col-xs-6">Battleship Game</div>
    <div class="col-xs-6">Battleship Game</div>
  </div>

</div>
