<h1 class="game-page">Current Game</h1>

<div class="game-page">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">GIF</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Instructions</h3>
      <p></p>
    </div>
  </div>
      <div><%= render :partial => "games/fire_coordinates_form" %></div>
  <div class="table-row">
    <div><%= render :partial => "games/board" %></div>

    <div><%= render :partial => "games/board" %></div>
  </div>
</div>

